{% extends 'base.html'%}
{% load comments_extra %}
    {% block main%}
     <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">{{article.title}}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{article.category}}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">{{article.author}}</a></span>
                            <span class="comments-link"><a href="#comment-area">{{ article.comments_set.count }} 评论</a></span>
                            <span class="views-count"><a href="#">{{article.views}} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{article.excerpt}}</p>
                        <blockquote><p>Django makes it easier to build better Web apps more quickly and with less
                            code.</p>
                            <p>[Toc]Django 让你以更快的速度、更少的代码、更轻松的方式搭建更好的 Web 应用。</p>
                        </blockquote>
                        <p>{{article.body|safe}}</p>
                        <h2>谁适合这个教程</h2>
                        <p><strong>本教程主要面向零基础的 Django 新人。</strong></p>
                        <p>只需要一点点 Python 语言的基础，就可以顺利阅读本教程。</p>
                        <p>如果你已有一定的 Django 开发经验，也能从本教程中学到更多的 Django 开发技巧。</p>
                        <h2>在线预览</h2>
                        <p>点击预览：<a href=''>Django Blog Demo</a></p>
                        <p><img src='' alt=''/></p>
                        <h2>资源列表</h2>
                        <p>项目完整代码托管在 GitHub：<a href=''>Django Blog Tutorial</a></p>
                        <p>博客前端模板托管在 GitHub：<a href=''>博客模板</a></p>
                        <h2>获取帮助</h2>
                        <p>在项目开发中遇到问题，即时获取帮助。</p>
                        <p>Django 学习小组 QQ 群，扫描下方二维码加入。</p>
                        <p><img src='' alt=''/></p>
                        <p>或者你也可以将问题的详细描述通过邮件发送至 <a href='mailto:djangostudyteam@163.com' target='_blank'>djangostudyteam@163.com</a>，一般会在
                            24 小时内答复。</p>
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    {% show_comment_form article %}
                    {% show_comment article %}
                </section>
    {% endblock main %}

{% block toc %}
    {% if article.toc  %}
        <div class="widget widget-content">
                        <h3 class="widget-title">文章目录</h3>
                    <div class='toc'>
                        <ul>{{ article.toc|safe}}</ul>
                    </div>

                    </div>
    {% endif %}
             
    {% endblock toc %}